label{
    color: black;
}
.form-side{
    background-color: beige;
    display: inline-block;
    width: 15%;
    height: 100%;
}
.form-inner{
    background-color: gray;
    color: white;
}
.form-group > label{
    color: white;
}
.form-group > input{
    display: inline;
    width: 91%;
}